* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f47b20;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
}

.logo {
    width: 150px;
    height: auto;
    border-radius: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.location-btn {
    background-color: #d3d3d3;
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: #000;
    transition: background-color 0.3s ease;
}

.location-btn:hover {
    background-color: #bbb;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.logo-top {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 100%;
}

.location-image {
    max-width: 400px;
    height: auto;
    margin-bottom: 15px;
}

.confirmation-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.confirm-btn {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.confirm-btn:hover {
    transform: scale(1.2);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.info {
    padding: 0 50px;
}

#like-btn:hover {
    color: #63E6BE;
}

#deslike-btn:hover {
    color: red;
}